body{
background-image: radial-gradient(Magenta,Yellow,Indigo,lime,red);
color: White;


}
.copy_right_footer{

  text-align: center;

}
h2{
  font-family: 'Inspiration', cursive;

}
p{

  font-family: 'Rock 3D', cursive;

}
h3,h4{
  font-family: 'Smokum', cursive;


}









